body {
    background-color: #ffffff;
}

.main-container {
    margin: 5%;
}

.story-add-container {

}

.story-container {
    display: flex;
    flex-direction: column;
}

.story-image {
    max-width: 20%;
}